.item2 {
  background-color: #FA8072;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item1 {
  background-color: #A7CEFA;
  grid-area: header;
}

.item3 {
  background-color: #FFFFFF;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item5 {
  background-color: #3CB371;
  grid-area: footer;
}

.item4 {
  background-color: #F0E68C;
  grid-area: aside;

}

.links {

  padding: 0;

}

.grafico {


  width: 60%;
  height: 60%;

}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "nav header header header header"
    "nav main main main aside"
    "nav main main main aside"
    "nav main main main aside"
    "footer footer footer footer footer";
}

body {
  margin: 0px;
  width: 100%;
  height: 100vh;
}

.logo {

  background-color: #FFFFFF;
  text-align: center;
  padding: 20px;
  margin-top: 20px
  margin-bottom: 20px;
  border-radius: 50%;
  height: 10%;

}

@media screen and (max-width:576px){
  .item2{
    display:none;
  }
  .container{
    display:grid;
    grid-template-columns:auto auto auto auto auto;
    grid-template-rows:auto auto auto auto auto;
    grid-template-areas:
      "header header header header header"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "aside aside aside aside aside"
    "footer footer footer footer footer";
  }
  .menu{
    background-color: blueviolet;
    height:100vh;
    position:fixed;
  }



  .logo {
      background-color: #FFFFFF;
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 50%;
     width: 10%;
  }
