html {
  height: 100%;
  width: 100%;
}

.Graficos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Espaçamento entre os gráficos */

}

#grafico{
  
}

#grafico2{
  
}

#grafico3{
  
}