@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {

    box-sizing: border-box;
    font-family: Montserrat, Geneva,sans-serif;

}



}

body {

    min-height: 100vh;
    margin: 0%;

}

header {
    
    display: inherit;
    background-color: rgb(117, 16, 218, 0.4);
    

}

#ads {

    display: inherit;
    background-color: rgb(28, 4, 47, 0.3);
    

}

nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 7, 223, 0.45);
   

}

.subject {

    height: 50px;
    width: 100%;
    padding: 0px 10px;
    background-color: rgba(255, 36, 36, 0);
    align-items: center;
    text-align: center;

    border: none;
    border-radius: 4px;

    transition: background 500ms ease-out;

}

.subject:hover {

    background-color: rgb(236, 24, 24, 0.219);

}

article {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

footer {

    display: inherit;
    background-color: rgb(217, 205, 191, 0.3);
   

}

.graph {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 25vw;

}

@media only screen and (max-width: 768px) {
    
    #logo {

        width: 30%;
        margin: 4% 0;

    }

    .grid-container {

        display: flex;
        flex-direction: column;

    }
    
    .grid-container * {

        width: 100%;
        text-align: center;
        align-items: center;

    }

    header {

        min-height: 10vh;
        

    }

    article {

        display: flex;
        flex-direction: column;
        min-height: 70vh;
        
    }

    #ads {

        position: sticky;
        bottom: 0;

    }

    nav {

        display: none;

    }

    .graph {

        margin: 5% 0

    }

}

@media only screen and (min-width: 769px) {
 
    .grid-container {
    
        display: grid;
        height: 100%;
        grid-template-columns: repeat(20, 5%);
        grid-template-rows: repeat(20, 20%);
        min-height: 100vh;
        text-align: center;
    
    }
    
    .grid-container * {

        align-content: center;

    }
    
    header {
    
        grid-column: 3/22;
        grid-row: 1/2;
    
    }

    #ads {
    
        grid-column: 19/22;
        grid-row: 2/6;
    
    }
    
    nav {
 
        grid-column: 1/3;
        grid-row: 1/7;
    
    }
    
    article {
    
        grid-column: 3/19;
        grid-row: 2/6;

    }
    
    footer {

        grid-column: 3/22;
        grid-row: 6/7;
    
    }

}

@media only screen and (max-width: 1080px) {

    nav {
        font-size: 0.6em;
    }

}