html {
  max-width: 100%;
  height:100%;
  font-family: sans-serif;
}

body {
  height:100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  background-color: #d5e7f7;

  border: solid;
  border-width: 1px;
  border-color: #3f92dc;
}

footer {
  background-color: #d2e4e1;

  border: solid;
  border-width: 1px;
  border-color: #72a9a0;
}

header,
footer {
  display: flex;
  width: 100%;
  height: 7.5rem;
  justify-content: center;
  align-items: center;

  color: #788896;
  font-weight: 850;
}

#content-and-extra {
  display: flex;
  height:100%;
}

article {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: #788896;
  font-weight: 850;
}

#figures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-weight: 200;
  color: black;
}

.content-paragraph {
  font-weight: 200;
  color: black;
  margin: 10px 20px 10px 20px;
}

#sidebar {
  display: flex;
  flex-direction: column;

  height: auto;
  width: 8.5rem;
  align-items: center;
  justify-content: flex-start;
  background-color: #f6dade;

  border: solid;
  border-width: 1px;
  border-color: #d8586c;

}

#logo {
  width: 100%;
  margin-bottom: 3em;
}

a {
  text-decoration: underline;
  text-decoration-color: gray;

  color: #6a5cf4;
  margin: 3px;
}

#extra {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;

  background-color: #fdf3d3;

  border: solid;
  border-width: 1px;
  border-color: #fbdd81;

  color: #788896;
  font-weight: 850;
}

@media (max-width: 600px) {
  #sidebar {
    display: none;
  }

  #content-and-extra{
    flex-direction: column;
  }

  .graphic{
    width:20rem;
  }
  
  #extra{
    height:7.5rem;
    width:100%;
  }

  #figures {
    flex-direction: column;
  }
}