html {
  height: 100%;
  width: 100%;
}

/* Grid template area */
main.conteiner{
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
  "header header header"
  "navbar content aside"
  "navbar footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}
@media (max-width: 300px) {
  main.conteiner{
    grid-template-areas: 
    "header"
    "navbar"
    "content"
    "aside"
    "footer";
  }
}
#head{
  background-color: #ff7bab;
  grid-area: header;
  height: auto;
  width: auto;
  padding: 10px;
}
#navbar{
  background-color: #7dcfff;
  grid-area: navbar;
  height: auto;
  width: auto;
}
#article{
  background-color: whitesmoke;
  grid-area: content;
  height: auto;
  width: auto;
  padding: 10px;
}
#ads{
  background-color: #ffd179;
  grid-area: aside;
  height: 500px;
  width: auto;
  padding: 10px;
}
#footer{
  background-color: #89dcb2;
  grid-area: footer;
  height: 50px;
  width: auto;
  padding: 10px;
}
/* ============== */
/* Navbar CSS Area */
#navbar ul{
  display: block;
  list-style-type: none;
  padding: 5px;
  margin: 0;
}
li a{
  display: block;
  width: 100px;
}
