@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {

    box-sizing: border-box;
    font-family: Montserrat, Geneva,sans-serif;

}

#logo {

    max-width: 70%;
    height: auto;
    border-radius: 50%;
    margin: 20% 10%;

}

body {

    min-height: 100vh;
    margin: 0%;

}

header {

    display: inherit;
    background-color: rgba(255, 228, 196, 0.4);
    border: 2px solid rgb(255, 228, 196);

}

#ads {

    display: inherit;
    background-color: rgba(244, 165, 96, 0.3);
    border: 2px solid rgb(244, 165, 96);

}

nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 36, 36, 0.45);
    border: 2px solid rgb(235, 36, 36);
    text-align: start;

}

nav ul {

    height: fit-content;
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li a {

    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;

    color: rgb(15, 62, 216);
    text-decoration: none;
    transition: background 500ms ease-out;

}
nav ul li a:hover {

    background-color: rgba(255, 36, 36, 0.219);

}

article {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

footer {

    display: inherit;
    background-color: rgba(216, 191, 216, 0.3);
    border: 2px solid rgb(216, 191, 216);

}

.graph {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 25vw;

}

@media only screen and (max-width: 768px) {

    #logo {

        width: 30%;
        margin: 4% 0;

    }

    .grid-container {

        display: flex;
        flex-direction: column;

    }

    .grid-container * {

        width: 100%;
        text-align: center;
        align-items: center;

    }

    header {

        min-height: 10vh;


    }

    article {

        display: flex;
        flex-direction: column;
        min-height: 70vh;

    }

    #ads {

        position: sticky;
        bottom: 0;

    }

    nav {

        display: none;

    }

    .graph {

        margin: 5% 0

    }

}

@media only screen and (min-width: 769px) {

    .grid-container {

        display: grid;
        height: 100%;
        grid-template-columns: repeat(20, 5%);
        grid-template-rows: repeat(20, 20%);
        min-height: 100vh;
        text-align: center;

    }

    .grid-container * {

        align-content: center;

    }

    header {

        grid-column: 3/22;
        grid-row: 1/2;

    }

    #ads {

        grid-column: 19/22;
        grid-row: 2/6;

    }

    nav {

        grid-column: 1/3;
        grid-row: 1/7;

    }

    article {

        grid-column: 3/19;
        grid-row: 2/6;

    }

    footer {

        grid-column: 3/22;
        grid-row: 6/7;

    }

}

@media only screen and (max-width: 1080px) {

    nav {
        font-size: 0.6em;
    }

}