/* Resetar CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pagina {
    display: grid;

    width: 100%;
    height: 100%;

    grid-template-columns: 15% 75% 10%;
    grid-template-rows: 20% 70% 10%;

    grid-template-areas: 
        "nav header header"
        "nav main adsExtra"
        "nav footer footer";
}

/* Header */

#pagina > header {
    display: flex;

    grid-area: header;
    background-color: #7DCFFF;
    align-items: center;
}

.tituloSite {
    color: white;
    font-weight: bold;
    padding-left: 1.5%;
}

#pagina > nav {
    grid-area: nav;
    background-color: #FF7BAB;
    overflow-y: auto;
}

#pagina > main {
    grid-area: main;
    background-color: #FFFFFF;
    overflow-y: auto;
}

.adsExtra {
    grid-area: adsExtra;
    background-color: #FFD179;
}

#pagina > footer {
    display: flex;
    grid-area: footer;
    background-color: #89DCB2;
    justify-content: flex-end;
    align-items: center;
}

.footer_text {
    align-items: center;
    padding-right: 2.5%;
    color: white;
    font-weight: bold;
}

.imagem_logo {
    display: block;
    height: 20%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

@media (min-width: 1080px) {
    #pagina {
        grid-template-columns: 15% 75% 10%;
        grid-template-rows: 20% 70% 10%;
    }
}

@media (max-width: 1080px) {
    #pagina {
        grid-template-columns: 50px 1fr 10%;

        .imagem_logo {
            visibility: hidden;
        }
    }
}

@media (max-width: 800px) {
    #pagina {
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: 10% 80% 10%;
    }
}